.container {
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}


#generateExcuse {
    margin-top: 20px; 
}